<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/search.css">
    <link rel="stylesheet" href="static/index1.css">
  </head>
  <h1></h1>
  <form1>
    <nav class="nav__container">
      <ul class="ul__nav">
        <li><a href="{{ url_for('login') }}">Логин</a></li>
        <li><a href="{{ url_for('products') }}">Товары</a></li>
        <li><a href="{{ url_for('new_order') }}">Новый заказ</a></li>
        <li><a href="{{ url_for('order') }}">Список заказов</a></li>
        <li><a href="{{ url_for('realtime') }}">Курс валют (API)</a></li>
        <li><a href="{{ url_for('currency') }}">Курс валют (Parser)</a></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
  </form1>
    <body>
    <h2>Поиск информации о клиенте</h2>
    <form action="{{ url_for('search') }}" method="POST">>
      <label for="name">Поиск клиента</label>
      <input type="text" name="name" id="name">
      <button type="submit">Поиск</button>
    </form>
  </body>
</html>
